{% extends 'base.html' %}
{% block title %}Add Transaction{% endblock %}
{% block content %}

    <div class="profile-box">
        <h2>Add Transaction</h2>
        <form method="post">
            {% csrf_token %}
            <p><input type="number" name="amount" placeholder="amount"></p>
            <p><input type="text" name="description" placeholder="description"></p>
            <p>
                <select name="categories">
                    {% for Category in categories %}
                        <option value="{{ Category.id }}">{{ Category.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><input type="submit"></p>
        </form>
    </div>
{% endblock %}