{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <div class="signup-box">
        <h2>Create User</h2>
        <h3> {{ error }}</h3>
        <form method="POST">
            <p><input type="text" name="username" placeholder="usernane"></p>
            <p><input type="password" name="password" placeholder="Haslo"></p>
            <p><input type="password" name="password2" placeholder="Haslo powtorz"></p>
            {% csrf_token %}
            <button type="submit">Create</button>
        </form>
    </div>
{% endblock %}