{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <div class="boxt">
        <h2>Create User</h2>
        <h3>{{ error }}</h3>
        <form method="POST">
            <p><input type="text" name="username" placeholder="Username"></p>
            <p><input type="password" name="password" placeholder="Password"></p>
            <p><input type="password" name="password2" placeholder="Repeat Password"></p>
            {% csrf_token %}
            <input type="submit" value="Create">
        </form>
        <div class="account-question">
            <p>Do you have an account?</p>
            <a href="{% url 'login' %}" class="account-button">Log in</a>
        </div>
    </div>
{% endblock %}
