/* Additions for add budget */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.boxbud {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 550px;
    max-width: 90%;
    margin: 0 auto;
}

.boxbud h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.success-message {
    background-color: #dff0d8;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background-color: #23527c;
}

/* Placeholder styles */

input::placeholder {
    color: #aaa;

    font-style: italic;
    width: 433px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 10px;
}

input[type="text"]::placeholder {
    text-transform: capitalize;
}

input[type="number"]::placeholder {
    text-align: right;
}

/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Budget list styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

/* Budget info styles */
.budget-info {
    display: flex;
    align-items: center;
}

.budget-info span {
    margin-right: 10px;
}

/* Delete link styles */
a {
    text-decoration: none;
    color: #d9534f;
}

a:hover {
    color: #23527c;
}

.budinp [type="number"], .budinp input[type="text"] {
    width: 433px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
}

.searchb {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.searchb-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.searchb-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchb-button:hover {
    background-color: #3e8e41;
}