  <div>
        {% if user.is_authenticated %}
            Witaj {{ user }}
            <a href="{% url 'logout' %}">wyloguj</a>
        {% else %}
            <a href="{% url 'register' %}">zarejestruj</a>
            <a href="{% url 'login' %}">zaloguj</a>
        {% endif %}
    </div>
<div>
        <a href="{% url 'add_budget' %}">Add Budget</a>
        <a href="{% url 'add_transaction' %}">Add Transaction </a>
        <a href="{% url 'transaction_list' %}">Transaction List</a>
        <a href="{% url 'my_budgets' %}">My Budget</a>
        <a href="{% url 'add_category' %}">add category</a>
        <a href="{% url 'category_list' %}">category list</a>
    </div>
   
